.flag
  background: url("/flags.png") no-repeat
  display: inline-block
  background-size: 18px 7800px
  width: 18px
  height: 18px

.flag-eng
  background-position: 0 -132px

.flag-deu
  background-position: 0 -2232px

.flag-bra
  background-position: 0 -1482px
